{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginsSearchDirs": false,
  "tailwindFunctions": ["cls"]
}
